html, body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
   
}

*{ 
	font-family: Helvetica, Arial, sans-serif; 
	/* font-family: Calibri; */
}

hr{
    margin-top: 0.7em; 
    margin-bottom: 0.9em; 
    padding: 0;
}

#cuerpo {
    background-color: #006eb8;
    height: 100vh; 
    width: 100% ;
    text-align: center;
    background-image: url("Jordan-Backgrounds2.jpg");
    background-size: 100%;
    padding-top: 9em;
}

#login {
    background-color: rgb(255, 255, 255) ;
    margin: 0 auto;
    width: 24.95em; 
    height: 22em;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); 
    border-radius: 8px;
    text-align: center;
    
}

#introducir{
    margin: 1em;
    height: 3em;
}

.usuario {
    width: 27em;
    height: 3.5em;
    border-radius: 8px;
    border: 1px solid #d1d3da;
}

.password {
    width: 27em;
    height: 3.5em;
    border-radius: 8px;
    border: 1px solid #d1d3da;
}

.join {
	text-decoration:none;
    width: 27.7em;
    height: 60px;
    background: #333;
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px; 
}

.join:hover {
    width: 27.7em;
    height: 60px;
    background: rgb(37, 37, 37);
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px;
    cursor:pointer;  
}

.join:active {
    width: 27.7em;
    height: 60px;
    background: rgb(0, 0, 0);
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px;   
}



#main-header {
	background: #f0f2f1;
	color:	#222;
	height: 76.5px;
	width: 100%;
}	


#logo-header {
	float: left;
	padding: 0px 0 0 10px;
	text-decoration: none;
    cursor:pointer;   
    transform: scaleX(-1); 
}
	
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
    
}    
nav ul li {
    display: inline-block;
    line-height: 75px;
    }
               
nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: #222;
    background: rgb(148,140,141, .2);
}
                
nav ul li a:hover {
    background: #231c23;
    color: #f0f2f1;
}

#title{
	float: left;
    text-align: center;
    margin-left: 0.1em;
    font-size: 4.5em;
    font-weight: bolder;
    color: rgb(37, 37, 37);
    cursor: pointer;
    text-decoration:none;
    letter-spacing: -9px;
/*     font-family: Gill Sans; */
}

#titleBlue{
	float: left;
	text-align: center;
    margin-left: 0.1em;
    font-size: 4.5em;
    font-weight: bolder;
    color: #006eb8;
    cursor: pointer;
    text-decoration:none;
    letter-spacing: -6px;
/*     font-family: Gill Sans; */
}

input{
	padding-left: 0.4rem;
	padding-right: 0;
}

/* ---------------------------------ESTILO PAGINA ERROR------------------------------------ */

.error{
	background-image: url('error.jpg.png');
 	height: 100%;
 	width: 100%;
 	background-size:80%;
	background-position: center;
	background-repeat: no-repeat
}

.botonError {
	text-decoration:none;
    width: 27.7em;
    height: 60px;
    background: #333;
    color: white;
    margin: 0 auto;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px; 
}

.botonError:hover {
    width: 27.7em;
    height: 60px;
    background: rgb(37, 37, 37);
    color: white;
    margin: 0 auto;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px;
    cursor:pointer;  
}

.botonError:active {
    width: 27.7em;
    height: 60px;
    background: rgb(0, 0, 0);
    color: white;
    margin: 0 auto;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px;   
}

/* ---------------------------------ESTILO PAGINA REGISTER------------------------------------ */


#form {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    display: block;
    max-width: var(--width-card-wide);
    min-width: var(--width-card);
    padding: 1.5rem;
    text-align: var(--justify-normal);
}

form header {
    margin: 1.5rem 0;
    padding: 1.5rem 0;
}


.register{
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    padding: 0.4rem 0.8rem;
}


label {
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}


.form-field small {
    color: var(--error-color);
}

#warnings{
    color: red;
}

input:invalid{
    border: 1px solid red;
}

.btReg {
	text-decoration:none;
    width: 20em;
    height: 45px;
    background: #333;
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px; 
}

.btReg:hover {
    width: 20em;
    height: 45px;
    background: rgb(37, 37, 37);
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px;
    cursor:pointer;  
}

.btReg:active {
    width: 20em;
    height: 45px;
    background: rgb(0, 0, 0);
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px;   
}


/* ---------------------------------ESTILO TABLAS------------------------------------ */


#tablaInfo{
	text-align: center;
	margin: 0 auto;
	
}

.tdId{
	width: 10em;
}

.tdPrice{
	width: 8em;
}

.tdCategoria{
	width: 8em;
}

.tdDescription{
	width: 20em;
}

.tdName{
	width: 20em;
}


.tabla{
	width:98.5%;
	width:50%;
	height: 15em;
	border-collapse: collapse;
	background-color: rgb(255, 255, 255);
	padding: 1em;
	margin: 1em;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); 
	table-layout: fixed
	
	
} 



