html, body{
    margin: 0px;
    padding: 0px;
    background-color: #006eb8;
    
   
}

*{ 
	font-family: Helvetica, Arial, sans-serif; 
	/* font-family: Calibri; */
}

hr{
    margin-top: 0.7em; 
    margin-bottom: 0.9em; 
    padding: 0;
}

#cuerpo {
    background-color: #006eb8;
    height: 75vh;  
    width: 100% ;
    text-align: center;
    background-size: 100%;

}

#main-header {
	background: #f0f2f1;
	color:	#222;
	height: 83px;
	width: 100%;
}	


#logo-header {
	float: left;
	padding: 0px 0 0 10px;
	text-decoration: none;
    cursor:pointer;   
    transform: scaleX(-1); 
}
	
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
    
}    
nav ul li {
    display: inline-block;
    line-height: 80px;
    }
               
nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: #222;
    background: rgb(148,140,141, .2);
}
                
nav ul li a:hover {
    background: #231c23;
    color: #f0f2f1;
}

#title{
	float: left;
    text-align: center;
    margin-left: 0.1em;
    font-size: 4.5em;
    font-weight: bolder;
    color: rgb(37, 37, 37);
    cursor: pointer;
    text-decoration:none;
    letter-spacing: -9px;
/*     font-family: Gill Sans; */
}

#titleBlue{
	float: left;
	text-align: center;
    margin-left: 0.1em;
    font-size: 4.5em;
    font-weight: bolder;
    color: #006eb8;
    cursor: pointer;
    text-decoration:none;
    letter-spacing: -6px;
/*     font-family: Gill Sans; */
}

/* ---------------------------------ESTILO INDEX------------------------------------ */

#login {
    background-color: rgb(255, 255, 255, 0.95) ;
    /* opacity: 95%; */
    margin: 0 auto;
    width: 24.95em; 
    height: 23em;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); 
    border-radius: 8px;
    text-align: center;
    margin-top: 9em;
    
}

#introducir{
    margin: 1em;
    height: 3em;
}

.usuario {
    width: 27em;
    height: 3.5em;
    border-radius: 4px;
    border: 1px solid #d1d3da;
}

.password {
    width: 27em;
    height: 3.5em;
    border-radius: 4px;
    border: 1px solid #d1d3da;
}

.join {
	text-decoration:none;
    width: 27.7em;
    height: 55px;
    background: #000000;
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 4px;
    border: 0px; 
}

.join:hover {
    width: 27.7em;
    height: 55px;
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
    background: #000000;
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 4px;
    border: 0px;
    cursor:pointer;  
}

.join:active {
    width: 27.7em;
    height: 55px;
    background: #000000;
    opacity: 90%;
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px;   
}

.registerButton {
	text-decoration:none;
    width: 27.7em;
    height: 55px;
    background: #76D045;
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 4px;
    border: 0px; 
}

.registerButton:hover {
    width: 27.7em;
    height: 55px;
    background: #76D045;
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 4px;
    border: 0px;
    cursor:pointer;  
}

.registerButton:active {
    width: 27.7em;
    height: 55px;
    background: #6AC13B;
    color: white;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px;   
}



input{
	padding-left: 0.4rem;
	padding-right: 0;
}

/* ---------------------------------ESTILO PAGINA ERROR------------------------------------ */

.error{
	background-image: url('error.jpg.png');
 	height: 100%;
 	width: 100%;
 	background-size:80%;
	background-position: center;
	background-repeat: no-repeat
}

.botonError {
	text-decoration:none;
    width: 27.7em;
    height: 60px;
    background: #333;
    color: white;
    margin: 0 auto;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px; 
}

.botonError:hover {
    width: 27.7em;
    height: 60px;
    background: rgb(37, 37, 37);
    color: white;
    margin: 0 auto;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px;
    cursor:pointer;  
}

.botonError:active {
    width: 27.7em;
    height: 60px;
    background: rgb(0, 0, 0);
    color: white;
    margin: 0 auto;
    margin-top: 0;
    text-align: center;
    border-radius: 8px;
    border: 0px;   
}

/* ---------------------------------ESTILO PAGINA REGISTER------------------------------------ */

.registerBorder{
	background-color: rgb(255, 255, 255, 0.95) ;
    /* opacity: 95%; */
    margin: 0 auto;
    width: 24.95em; 
    height: 41em;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); 
    border-radius: 8px;
    text-align: center;
    margin-top: 5em;
}


#form {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    display: block;
    max-width: var(--width-card-wide);
    min-width: var(--width-card);
    padding: 1.5rem;
    text-align: var(--justify-normal);
}

form header {
    margin: 1.5rem 0;
    padding: 1.5rem 0;
}



.registerInput{
	width: 27em;
    height: 3.5em;
    border-radius: 4px;
    border: 1px solid #d1d3da;
}


label {
    font-weight: bold;
    margin-bottom: 0.2rem;
}



#warnings{
    color: red;
}

input:invalid{
    border: 1px solid red;
}



/* ---------------------------------ESTILO TABLAS------------------------------------ */

#bold{
    font-weight: bold;
}

td{
	height: 1.75em;
}

.tdId{
	width: 5%;
	height: 3.5em;
}

.tdPrice{
	width: 10%;
}

.tdName{
	width: 15%;
}

.tdDescription{
	width: 50%;
}

.tdCategoria{
	width: 15%;
}


.tabla{
	width:98.5%;
	border-collapse: collapse;
	background-color: rgb(255, 255, 255, 0.95);
	padding: 1em;
	margin: 1em;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); 
	table-layout: fixed
	
} 



